{% extends "layout.html" %}

{% block title %}Shutter Speed Part 3{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Left column for text content -->
        <div class="col-md-4">
            <h2>Shutter Speed and Motion</h2>
            <p>Slow shutter speeds are also used to photograph the Milky Way or other objects at night, or in dim environments with a tripod. Landscape photographers may intentionally use long shutter speeds to create a sense of motion on rivers and waterfalls while keeping everything else completely sharp.</p>
            <p>On the other hand, shutter speed can also be used to do just the opposite – freeze motion. If you use an especially fast shutter speed, you can eliminate motion even from fast-moving objects, like birds in flight, or cars driving past. If you use a fast shutter speed while taking pictures of water, each droplet will hang in the air completely sharp, which might not even be visible to our own eyes.</p>
        </div>
        
        <!-- Right column for images -->
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/Shutter3.png') }}" alt="Long Shutter Speed Example" class="img-fluid">
                <p class="mt-2">Shutter speed: 5 seconds (a long shutter speed).</p>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/Shutter4.png') }}" alt="Fast Shutter Speed Example" class="img-fluid mt-4">
                <p class="mt-2">Shutter speed: 1/1600th second (a fast shutter speed).</p>
            </div>
        </div>
        
    </div>
    
    <div class="mt-4 text-center">
        <a href="{{ url_for('shutter_2') }}" class="btn btn-secondary">Previous Lesson</a>
        <a href="{{ url_for('shutter_4') }}" class="btn btn-primary">Next Lesson</a>
    </div>
</div>
{% endblock %}
