{% extends "layout.html" %}

{% block title %}Aperture Part 3{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Left column for larger apertures at night -->
        <div class="col-md-6">
            <h2>Using Larger Apertures at Night</h2>
            <p>In a darker environment, where you aren't capturing enough light, the optimal aperture would change. For example, you may want to use a large aperture like f/2.8 at night, just like how our eye’s pupils dilate to capture every last bit of light:</p>
            <img src="{{ url_for('static', filename='images/Aperture3.png') }}" alt="Larger Apertures at Night" class="img-fluid">
        </div>
        
        <!-- Right column for depth of field -->
        <div class="col-md-6">
            <h2>Depth of Field at Different Apertures</h2>
            <p>As for depth of field, recall that a large aperture value like f/2.8 will result in a large amount of background blur (ideal for shallow focus portraits), while values like f/8, f/11, or f/16 will give you a lot more depth of field (ideal for landscapes and architectural photography).</p>
            <img src="{{ url_for('static', filename='images/Aperture4.png') }}" alt="Depth of Field at Different Apertures" class="img-fluid">
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{{ url_for('aperture_2') }}" class="btn btn-secondary">Previous Lesson</a>
        <a href="{{ url_for('aperture_4') }}" class="btn btn-primary">Next Lesson</a>
    </div>
</div>
{% endblock %}
