{% extends "layout.html" %}

{% block title %}ISO Lesson 1{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Left column for text content -->
        <div class="col-md-6">
            <h1>What is ISO?</h1>
            <p>In very basic terms, ISO is simply a camera setting that will brighten or darken a photo. As you increase your ISO number, your photos will grow progressively brighter. For that reason, ISO can help you capture images in darker environments, or be more flexible about your aperture and shutter speed settings.</p>
            
            <h2>However, raising your ISO has consequences.</h2>
            <p>A photo taken at too high of an ISO will show a lot of grain, also known as noise, and might not be usable. So, brightening a photo via ISO is always a trade-off. You should only raise your ISO when you are unable to brighten the photo via shutter speed or aperture instead (for example, if using a longer shutter speed would cause your subject to be blurry).</p>
            
            <a href="{{ url_for('iso2') }}" class="btn btn-primary mt-3">Next Lesson</a>
        </div>

        <!-- Right column for images -->
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/ISO1.png') }}" alt="ISO Progression" class="img-fluid mb-3">
            <img src="{{ url_for('static', filename='images/ISO2.png') }}" alt="ISO Comparison Clean vs Noisy" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}
