{% extends "layout.html" %}
{% block title %}Aperture Quiz{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/quiz_aperture.js') }}"></script>
<div class="container text-center">
    <h1>You're photographing a portrait session outdoors on a sunny day, and you want to ensure a sharp focus on your subject while maintaining a blurred background. Which aperture setting should you choose?</h1>
    <img id="apertureImage" src="{{ url_for('static', filename='images/quiz3_1.png') }}" style="width:100%; max-width: 600px;">
    <div>
        <input type="range" min="0" max="5" step="1" class="slider" id="apertureSlider">
        <div class="slider-labels">
            <span>f/1.4</span>
            <span>f/2</span>
            <span>f/2.8</span>
            <span>f/4</span>
            <span>f/5.6</span>
            <span>f/8</span>
        </div>
    </div>
    <button id="submit" class="btn btn-success">Submit</button>
    <a href="{{ url_for('quiz_camera') }}" class="btn btn-primary">Next Question</a>
    <p id="result"></p>
</div>
{% endblock %}
